body{
    margin: 0;
    padding: 0;

}

section{
    display: grid;
    height: 100vh;

    grid-template-columns: 28% 28% 28% auto;
    grid-template-rows: 15% 20% auto 10%;
    grid-gap: 5px;

    grid-template-areas: 
        'header header header header'
        'text text text aside'
        'content content content aside'
        'footer footer footer footer'
    ;

}

header{
    grid-area: header;
    background-color: darkslateblue;

    display: grid;
    padding: 20px;

    & .img{
        background-color: crimson;
        justify-self: flex-end;
        width: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container-text{
    grid-area: text;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;

    & div{
        background-color:rgb(90, 222, 255);
        padding: 20px;

    }
}

main{
    grid-area: content;
    background-color:rgb(31, 161, 194);
    padding: 20px;
}

aside{
    grid-area: aside;
    background-color: rgb(0, 0, 117);
    padding: 20px;
    color: aliceblue;
}

footer{
    grid-area: footer;
    background-color: darkslateblue;
    padding: 20px;
}